* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: linear-gradient(135deg, #4203a9, #90bafc);
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
h1 {
  display: block;
  align-items: center;
  font-size: 40px;
}
h1 span {
  display: block;
  color: #2ec009;
  font-weight: 600;
  padding: 7px 0;
}
.input-box {
  background-color: rgba(255, 253, 253, 0.3);
  display: flex;
  justify-content: space-between;
  width: 380px;
  height: 65px;
  padding: 15px;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
}
input {
  border: 0;
  outline: 0;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  width: 230px;
  height: 33.5px;
  padding: 7px 14px;
  border-radius: 3px;
  position: relative;
}
button {
  border: 0;
  cursor: pointer;
  font-size: 18px;
  background-color: #06d610;
  padding: 7px 14px;
  border-radius: 3px;
}
input::-webkit-calendar-picker-indicator {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100% - 10px);
  background-size: 15px;
  cursor: pointer;
}
#agecalculator{
  margin: 18px 4px;
  font-size: 20px;
  color: rgb(30, 198, 210);
}
#agecalculator span{
  color: #e44101;
  font-weight: bold;
}

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
  .input-box {
    width: 260px;
    height: 40px;
    align-items: center;
  }
  input {
    font-size: 13px;
    padding: 5px 11px;
    width: 140px;
    height: 25px;
  }
  button {
    font-size: 13px;
    background-color: #f0a503;
    padding: 5px 11px;
  }
  #agecalculator{
  margin: 12px 4px;
  font-size: 14px;
}
}
